footer{
    height: 8vh;
    /* position: absolute; */
    bottom:0;
    background-color: black;
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer div{
    text-align: center;

}

footer p {
    color:white;
    font-size: 0.9em;
}

@media (max-width: 500px){
    footer p {
        font-size: 0.7em;
    }

    footer div{
        padding:0.5vh 0.1vw
    }
}

@media (max-width: 250px){

    .copy{
        display: none;
    }
}