.div_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--light-red);
  height: 8vh;
  left: 0;
  box-shadow:0 3px 10px rgba(0, 0, 0, 0.492);
}

.menu button{
  font-size:1.1rem;
  background-color : rgba(0,0,0,0);
  width:200px;
  margin:0;
  padding:0;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 10px ;
  cursor: pointer;
  font-weight: bold;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu > li:hover button {
  color: rgb(147, 113, 113);
  transition: all 0.3s ease;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .div_menu{
    padding: 0 1em;
    justify-content: flex-end ;
  }

  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 8vh;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: black;
  }
  /* .menu > li:not(:last-child) {
    border-bottom: 1px solid var(--light-red);
  } */


  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border-bottom: 2px solid white;
    height: 2.5em;
    align-items: center;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu > li:hover button {
    color: var(--light-red);
    transition: all 1s ease;
  }


}