.background{
    background-image: url(../image/background.webp);
    background-repeat: repeat;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: calc(100vh - 16vh);
}

.content{
    background: rgba(0, 0, 0, 0.8);
    padding:3vh 4vw 3vh 4vw;
    color : white;
}

.button_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.button_container button{
    font-size:1.1rem;
    background-color : var(--light-red);
    width:200px;
    margin:2vh 0.5vw;
    padding:2vh 0.5vw;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px ;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button_container button:hover{
    background-color : var(--dark-red);
}