.home {
  display: grid;
  max-width: 1200px;
  grid-template-columns: 10% 1fr 25%;
  overflow: hidden;
  margin: 58px auto 20px;
  position: relative;

  @media screen and (max-width: 590px) {
    grid-template-columns: 7% 1fr 20%;
    margin: 58px 8px 50px;
  }

  .left-nav-container {
    width: 100%;
  }

  .main {
    .home-header {
      margin: 0 auto 12px;
      text-align: center;

      .connection-form {
        background: $color-4;
        border-radius: 20px;
        padding: 20px;

        ul {
          display: flex;
          justify-content: center;
          margin-bottom: 18px;

          li {
            cursor: pointer;
            border-radius: 20px;
            padding: 12px 14px;
            transition: 0.2s;
            margin: 0 8px;
          }
          .active-btn {
            background: $color-1;

            &:hover {
              background: $color-2;
            }
          }
          li:not(.active-btn) {
            &:hover {
              transform: translateX(3px);
            }
          }
        }
        form {
          input {
            padding: 10px 14px;
            margin: 0;
            font-size: 1.2rem;
            font-family: $font-2;
            border-radius: 20px;

            &:focus {
              box-shadow: 0 0 3px rgba(51, 51, 51, 0.2);
            }
          }
          input[type="submit"] {
            padding: 14px 14px;
            border-radius: 20px;
          }
        }
      }
    }
  }

  .thread-container {
    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
    }
  }

  .form-update {
    width: 100%;
    display: flex;
    flex-direction: column;

    textarea {
      min-height: 30px;
      border: 1px solid #ff7b77;
      border-radius: 20px;
      padding: 10px 20px;
      width: 100%;
      font-family: "font-2", sans-serif;
    }

    select {
      min-height: 30px;
      border: 1px solid #ff7b77;
      border-radius: 20px;
      padding: 10px 20px;
      width: 100%;
      font-family: "font-2", sans-serif;
    }

    select option {
      color: rgb(0, 22, 44);
    }

    .file {
      cursor: pointer;
      padding: 10px 10px;
      border-radius: 20px;
      width: 100%;
      font-family: "font-2", sans-serif;
      background: rgb(253, 253, 253);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      border: 1px solid #ff7b77;

      img {
        width: 10%;
      }

      input {
        width: 90%;
        border-radius: 0;
        align-self: center;
      }

      input[type="file"]::-webkit-file-upload-button {
        font-size: 1em;
        border-radius: 20px;
        padding: 5px 10px;
        background: rgb(0, 22, 44);
        color: #ffd0c4;
      }
    }

    input[type="submit"] {
      border-radius: 20px;
      width: 100%;
    }

    label {
      align-self: center;
    }

    .select-button {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;

      .deleteWord {
        width: 90%;
      }

      input {
        width: 10%;
      }
    }

    .btn-send {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    button {
      border-radius: 20px;
      margin: 0 20px;
    }

    .deleteImg {
      width: 100%;
      text-align: center;

      img {
        width: 12%;
      }
    }
  }

  .card-files {
    margin: 10px 0 20px 0;
  }

  .desc-p {
    text-align: center;
    margin-top: 20px;
  }

  .comments-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;

    .client {
      background-color: #ffd0c4;
    }

    .connect-to-add-comment {
      text-align: center;
      margin-top: 20px;
    }

    .comment-container {
      width: 98%;
      border: 1px solid #ff7b77;
      border-radius: 20px;
      align-self: center;
      margin: 5px 0;

      .head {
        display: flex;
        width: 100%;

        .left-part {
          width: 30px;
          margin-left: 5px;
          margin-top: 9px;

          img {
            width: 100%;
            border-radius: 10px;
          }
        }

        .right-part {
          width: 90%;
          padding: 5px;
          .comment-header {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;

            span {
              font-size: 0.7em;
              font-style: italic;
              color: rgb(110 116 121);
            }
          }

          .comment-text {
            text-align: justify;
            padding: 5px 0;
            font-size: 0.9em;
          }
        }
      }

      .comment-pictures {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        padding: 0 15px;

        img {
          margin: 2px;
          width: 20%;
        }
      }

      .end-comment {
        display: flex;
        justify-content: flex-end;
        padding: 5px;
        

        img {
          width: 25px;
        }

        textarea[type="text"] {
          min-height: 100px;
          border: 1px solid #ffd0c4;
          padding: 5px;
          margin-bottom: 5px;
        }

        input[type="submit"] {
          border-radius: 20px;
          width: auto;
        }

        .delete-comment, .like-container{
          align-self: flex-end;
        }

        .comment-button{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 100%;
        
          button{
            border-radius: 20px;
            margin: 0 5px;
          }
        }
      }
    }
  }

  .comment-form {
    margin-top: 20px;

    textarea {
      min-height: 60px;
      border: 1px solid #ff7b77;
      border-radius: 20px;
      padding: 10px 20px;
      width: 100%;
      font-family: "font-2", sans-serif;
    }

    .send {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }

    .file {
      cursor: pointer;
      padding-top: 5px;
      width: 100%;
      font-family: "font-2", sans-serif;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      img {
        width: 10%;
      }

      input {
        width: 50%;
        border-radius: 0;
        align-self: center;
      }

      input[type="file"]::-webkit-file-upload-button {
        font-size: 1em;
        border-radius: 20px;
        padding: 5px 10px;
        background: rgb(0, 22, 44);
        color: #ffd0c4;
        width: 55%;
      }

      .send-button {
        margin: 5px;
        width: auto;
        border-radius: 20px;
      }
    }
  }

  .post-form {
    textarea {
      border-radius: 20px;
      height: 50px;
      font-size: 1rem;
    }

    select {
      min-height: 40px;

      border-radius: 20px;
      padding: 10px 0;
      width: 100%;
      font-family: "font-2", sans-serif;
      margin: 10px 0 15px 0;
      text-align: center;
      text-align-last: center;
    }

    .file {
      cursor: pointer;
      padding: 3px;
      border-radius: 20px;
      width: 100%;
      font-family: "font-2", sans-serif;
      background: rgb(253, 253, 253);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      img {
        width: 10%;
      }

      input {
        width: 90%;
        border-radius: 0;
        align-self: center;
      }

      input[type="file"]::-webkit-file-upload-button {
        font-size: 1em;
        border-radius: 20px;
        padding: 5px 10px;
        background: rgb(0, 22, 44);
        color: #ffd0c4;
      }
    }

    button {
      border-radius: 20px;
      margin: 0 20px;
    }
  }
}
